
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700|Courgette);

body {
  background: #001f3f;
}
.fa-quote-left {
	position: relative;
	top: 34px;
}

#my-text {
  color: blue;
  text-align: center;
  font-size: 18px;
  font-family: Inconsolata, Sans-Serf;
}

#my-author {
  color: blue;
  text-align: right;
  padding-top: 15px;
  font-size: 20px;
  font-family: Courgette;
}

#main-box {
  border-radius: 15px;
  position: relative;
  margin: 15% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
